.nav-link {
    &:hover {
        background: rgba(255, 255, 255, 0.5);
    }
    &.active, &:active {
        background: #212529;
        color: #fff !important;
    }

}
section {
    height: 25px;
    &#background {
        clip-path: shape(from 0% 0%,
        line to 100% 0%,
        line to 100% 100%,
        smooth to 0% 100% with 50% 0%,
        line to 0% 0%);
    }
}