<div id="app-shell" class="bg-body">
    <nav class="navbar navbar-expand bg-warning">
        <div class="container">
            <a class="navbar-brand" routerLink="/admin">
                <img src="assets/logo.png" alt="Logo" width="70"  class="logo">
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav nav nav-pills col gap-2 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link link-dark rounded-pill" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-dark rounded-pill" routerLink="/admin/settings" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Settings</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link link-dark rounded-pill" routerLink="/admin/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><fa-icon class="fa-lg"[icon]="faCircleUser"></fa-icon></a>
                    </li> -->
                </ul>
            </div>
            <button class="btn btn-outline-dark" (click)="logout()">Logout</button>
        </div>
    </nav>
    <section id="background" class="container-fluid bg-warning overflow-hidden"></section>
    <div class="container-fluid">
        <div class="container">
            <div class="row mt-2">
                <div class="col-12">
                    <a routerLink="/" class="btn btn-outline-dark border-0 py-0 mb-3"><fa-icon class="me-2" [icon]="faArrowLeft"></fa-icon><img src="assets/chicken.png" width="40"/> storefront</a>
                    <h6 class="fw-bold text-secondary">Admin</h6>
                </div>
            </div>
        </div>
    </div>
    <!-- Content -->
    <main class="flex-grow-1">
        <router-outlet></router-outlet>
    </main>

    <!-- Footer -->
    <footer class="text-center pt-5">
        <p class="small text-muted">Mackey's Farm Fresh Eggs™ © 2026</p>
    </footer>
</div>