<div *ngIf="!submitSuccess; else successState">
    
    <h1 class="text-center mb-3 display-6">Order Eggs</h1>

    <app-egg-availability></app-egg-availability>
    
    <form [formGroup]="orderForm" (ngSubmit)="submitOrder()" novalidate>
        <!-- Name -->
        <div class="form-floating my-3">
            <input id="name" type="text" class="form-control" formControlName="name" placeholder=" " [class.is-invalid]="f['name'].touched && f['name'].invalid"/>
            <label for="name">First Name</label>
            <div class="invalid-feedback">
                Name is required
            </div>
        </div>
        <!-- Phone Number -->
        <div class="form-floating mb-3">
            <input id="phone" type="tel" class="form-control" placeholder=" " formControlName="phoneNumber" maxlength="14" (input)="onPhoneInput($event)" [value]="formattedPhone" [class.is-invalid]="f['phoneNumber'].touched && f['phoneNumber'].invalid"/>
            <label for="phone">Phone number</label>
            <div class="invalid-feedback">
                Please enter a valid phone number
            </div>
        </div>
        <!-- Payment Type -->
        <div class="form-floating mb-4">
            <select id="payment" class="form-select" formControlName="paymentType" >
                <option *ngFor="let payment of paymentTypes" [value]="payment.value">{{ payment.label }}</option>
            </select>
            <label for="payment">Payment type</label>
        </div>
        <!-- Pickup -->
        <div class="form-floating mb-4">
            <select id="pickup" class="form-select" formControlName="pickupDate">
                <option *ngFor="let pickup of pickupDates" [value]="pickup.value">{{ pickup.label }}</option>
            </select>
            <label for="pickup">Preferred pickup date</label>
        </div>
        <!-- Egg Condition -->
        <div class="form-floating mb-4">
            <select id="eggCondition" class="form-select" formControlName="eggCondition">
                <option value="washed">Washed</option>
                <option value="unwashed">Unwashed</option>
            </select>
            <label for="eggCondition">Egg Preparation</label>
            <small><small class="text-muted d-block mt-2 label-push-right">{{ eggConditionHelperText }}</small></small>
        </div>
        <!-- Notes -->
        <div class="mb-4 text-center">
            <button *ngIf="!showNotes" type="button" class="btn btn-outline-primary border-0 w-100" (click)="toggleNotes()">Add a note</button>
            <textarea *ngIf="showNotes" id="notes" class="form-control" formControlName="orderNotes" rows="3" placeholder="Anything we should know? (pickup timing, preferences, etc.)"></textarea>
        </div>
        <div class=" rounded-3 mb-4">
            <div class="">
                <div class="row d-flex align-items-center">
                    <div class="col-auto">
                        <!-- Dozen Counter -->
                        <div class="input-group quantity-group">
                            <button type="button" class="btn btn-outline-dark btn-lg" (click)="decreaseDozen()">−</button>
                            <div class="form-floating">
                                <input id="quantity" class="form-control text-center" formControlName="dozenCount" placeholder=" " (input)="onDozenChange()"/>
                                <label for="quantity" class="label-quantity">Quantity</label>
                            </div>
                            <button type="button" class="btn btn-outline-dark btn-lg" (click)="increaseDozen()">+</button>
                        </div>
                    </div>
                    <div class="col text-end">
                        <small class="text-muted">${{ unitEggPrice }} per dozen</small>
                        <h3 class="fw-bold">Total: ${{ f['dozenCount'].value * unitEggPrice }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- Submit -->
        <div class="d-grid">
            <button type="submit" class="btn btn-warning btn-lg">Request Eggs</button>
        </div>
    </form>
</div>
<ng-template #successState>
<div class="text-center p-5 pb-3">
    <img class="img-fluid"src="assets/chicken-party.png"/>
    <h3 class="mb-3 display-6">Order received</h3>
    <p class="pb-0">Thanks <strong>{{ submittedOrder?.name }}</strong>, we will do our best to have your eggs ready {{ submittedOrder?.pickupDate }}</p>
</div>
<div class="d-flex flex-column gap-3 mb-5">
    <p class="text-success border border-success rounded-2 p-2 text-start small d-flex align-items-center mb-0">
        <fa-icon class="me-2" [icon]="faCheck"></fa-icon>
        <span>You may receive updates via text or check back here for updates</span>
    </p>
    <p *ngIf="submittedOrder?.paymentType === 'venmo'" class="small border border-primary rounded-2 p-2 text-primary text-start small d-flex align-items-center mb-0">
        <fa-icon class="me-2" [icon]="faVenmo"></fa-icon>
        <span>Payment details once request is approved</span>
    </p>
    <p *ngIf="submittedOrder?.paymentType === 'cash'" class="small border border-secondary rounded-2 p-2 text-secondary text-start small d-flex align-items-center mb-0">
        <fa-icon class="me-2" [icon]="faDollarSign"></fa-icon>
        <span>Cash payment will be collected at pickup</span>
    </p>
</div>
    <div class="d-flex flex-column gap-3 col-auto mx-auto">
        <a class="btn btn-outline-dark border-0" routerLink="/orders" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">🧺 check your order status</a>
        <button class="btn btn-outline-dark border-0" (click)="submitSuccess = false"> Place another order</button>
    </div>
</ng-template>