<div id="page" class="bg-body">
  <nav class="navbar bg-warning">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="Logo" width="180"  class="d-inline-block align-text-center">
    </a>
    <div class="navbar-collapse">
      <div id="navbar-links" class="mt-4 mt-lg-0">
        <ul class="nav nav-pills col gap-2 justify-content-center">
          <li class="nav-item">
            <a class="nav-link link-dark rounded-pill" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">eggs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-dark rounded-pill" routerLink="/more-items" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">more items</a>
          </li>
          <li class="nav-item past-orders" *ngIf="hasOrders$ | async">
            <a class="nav-link link-dark rounded-pill" routerLink="/orders" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">🧺 orders</a>
          </li>
          <li *ngIf="auth.auth$ | async">
            <a routerLink="/admin" class="nav-link link-dark rounded-pill" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">admin</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
  <!-- Content -->
<main class="flex-grow-1">
  <router-outlet></router-outlet>
  <!-- or your content -->
</main>

<!-- Footer -->
<footer class="text-center py-5 mt-auto">
  <img src="assets/eggs-carton.png" width="180" class="d-inline-block align-text-center">
  <p class="small text-muted mb-5">Mackey's Farm Fresh Eggs™ © 2026</p>
  <a href="https://midwestmackey.com" target="_blank" rel="noopener noreferrer" class="btn btn-outline-warning midwest-mackey-button"><img src="assets/mackey-logo-yellow.png" width="20"/> midwestmackey.com</a>
</footer>
</div>
