<section id="background" class="container-fluid position-absolute bg-warning overflow-hidden">
  <div class="container">
    <div class="row py-5">
      <div class="col-12">
        <h1 class="display-6">Your Orders</h1>
        <small class="text-body-tertiary">Account: {{ deviceId }}</small>
      </div>
    </div>
    <div class="row">
      <div *ngIf="loading || orders.length === 0" class="col-12 text-center my-5">
        <p *ngIf="loading">Loading...</p>
        <p *ngIf="!loading && orders.length === 0" class="text-center my-5">No orders yet</p>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="container">
  <div class="row py-5">
    <div class="col-12">
      <h1 class="display-6">Your Orders</h1>
      <small class="text-body-tertiary">Account: {{ deviceId }}</small>
    </div>
  </div>
  <div class="row">
    <div *ngIf="loading || orders.length === 0" class="col-12 text-center my-5">
      <p *ngIf="loading">Loading...</p>
      <p *ngIf="!loading && orders.length === 0" class="text-center my-5">No orders yet</p>
    </div>
  </div>
  
  <div *ngIf="!loading && orders.length > 0" class="d-flex flex-column gap-3">
    <div *ngFor="let order of orders" class="">
      <div class="col-12 card shadow rounded-4 border-0">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2" *ngIf="canReorder(order)">
              <span class="text-success"><fa-icon *ngIf="order.status === 'completed'" class="me-1" [icon]="faCircleCheck"></fa-icon>{{ getStatusInfo(order.status).text }}</span>
              
              <div *ngIf="successfulReorderId === order.id; else reorderState">
                <div class="text-success small p-1">
                  <fa-icon class="me-1" [icon]="faCircleCheck"></fa-icon>Request sent!
                </div>
              </div>
              <ng-template #reorderState>
                <div *ngIf="confirmingReorderId !== order.id; else reorderConfirm">
                  <button class="btn btn-sm btn-outline-primary border-0" (click)="showReorderConfirm(order.id)"><fa-icon class="me-1" [icon]="faRotate"></fa-icon>Request Again</button>
                </div>
                <ng-template #reorderConfirm>
                  <div class="d-flex gap-2">
                    <button class="btn btn-sm btn-success border-0" (click)="reorder(order)">Confirm</button>
                    <button class="btn btn-sm btn-outline-secondary border-0" (click)="cancelReorder()">Cancel</button>
                  </div>
                </ng-template>
              </ng-template>
              
              
              
    
          
            </div>
            <div class="row d-flex align-items-center">
              <div class="col-auto pe-0">
                <img *ngIf="order.status !== 'completed'" src="assets/chicken.png" class="" width="70" />
                <img *ngIf="order.status === 'completed'" src="assets/chicken-party.png" class="" width="70" />
              </div>
              <div class="col">
                <small class="text-muted">{{ order.createdAt | date:'mediumDate' }}</small>
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="sigmar-regular lh-1"><span>{{ order.dozenCount }} </span> <span class="fs-6">dozen {{ order.eggCondition }}</span></h1><span *ngIf="order.status != 'completed'" [ngClass]="getStatusInfo(order.status).class">{{ getStatusInfo(order.status).text }}</span>
                </div>
                <div class="d-flex gap-1 align-items-center">
                    <span class="small text-muted">Total: ${{ order.totalPrice }}</span><small class="payment-badge"><small><span class="badge text-bg-success payment-type">{{ order.paymentType }}</span><span *ngIf="order.status === 'completed'" class="ms-1 badge text-bg-success">PAID</span></small></small>
                </div>
                <div class="small text-muted mt-2" *ngIf="order.orderNotes">
                  <fa-icon class="text-black-50 small" [icon]="faQuoteLeft"></fa-icon><i class="small" *ngIf="order.orderNotes">{{ order.orderNotes }}</i><fa-icon class="text-black-50 small" [icon]="faQuoteRight"></fa-icon>
                </div>
              </div>
            </div>
            <div class="row text-end mt-2" *ngIf="canVenmo(order)">
              <div class="ms-auto col-12 col-md-auto">
                <button (click)="openVenmo(order.id)" class="w-100 btn btn-sm btn-primary venmo-button rounded-pill"><fa-icon class="me-1" [icon]="faVenmo"></fa-icon>Pay ${{ order.totalPrice }} now</button>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="row text-center my-5">
        <h6 class="mb-3">Need to make changes to an order or have questions?</h6>
        <div class="d-flex justify-content-center gap-2">
            <a [href]="getSmsLink()" class="btn btn-warning">
                <fa-icon [icon]="faMessage"></fa-icon> Message us
            </a>
        </div>
    </div>
  </div>
</div>
</div>

