section {
    height: 325px;
    &#background {
        clip-path: shape(from 0% 0%,
        line to 100% 0%,
        line to 100% 25%,
        smooth to 50% 90% with 80% 100%,
        smooth to 0% 100% with 10% 50%,
        line to 0% 0%);
    }
}
.payment-badge {
    margin-top: -5px;
    .badge.payment-type {
        background-color: #1ED760 !important;
        color: black !important;
    }
}
.venmo-button {
    background-color: #008CFF !important;
    border-color: #008CFF !important;
}