.badge, .btn {
    &.text-bg-success.approved {
        background-color: #1ED760 !important;
        color: black !important;
    }
    &.text-bg-secondary.muted {
        background-color: #c6cdd3 !important;
        color: black !important;
    }
}
.card {
    .card-footer {
        border-top: none !important;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, .25);

    }
}
.payment-badge {
    margin-top: -5px;
}