/* You can add global styles to this file, and also import other style files */
@use "bootstrap/scss/bootstrap" as *;

@import url('https://fonts.googleapis.com/css2?family=Sigmar&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
  height: 100%;
  touch-action: manipulation;
}
#app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.sigmar-regular {
  font-family: 'Sigmar', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}